/*------ADDITION PAGE------*/


.TopBlock
{
	position: relative;
	background: #34495e;
	text-align: center;
	border-radius: 20px 20px 0px 0px;
	padding: 10px;
	-webkit-user-select: none;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
}

.InnerContentBlock
{
	position: relative;
	background: #12273c;
	font-size: 24px;
	padding: 10px;
	border-radius: 0px 0px 20px 20px;
	-webkit-user-select: none;
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
}

.VKLink, .YTLink, .Secret, .Page404
{
	position: relative;
	background: #12273c;
	text-align: bottom;
	vertical-align: text-bottom;
	font-size: calc(1vw + 1vh);
	padding: 2px;
	-webkit-user-select: none;
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
	transition: .5s;
}

.VKLink:hover, .YTLink:hover, .Secret:hover, .Page404:hover
{
	position: relative;
	background: #34495e;
	vertical-align: middle;
	font-size: calc(1.2vw + 1.2vh);
	padding: 2px;
	-webkit-user-select: none;
	border-radius: 40px;
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
}

.YT, .VK, .Q
{
	position: relative;
	vertical-align: middle;
	height: 3vw;
	width: 3vw;  
	right: 0px; 
	border-radius: 80px;
	margin-right: 10px;
}