/*------VIDEO PAGE------*/


.videoMainBlock
{
	position: relative;
	display: flex;
	width: 100%;
	flex-direction: row;
	background: rgb(0, 112, 76);
	text-align: center;
	border-radius: 14px 14px 14px 14px;
	-webkit-user-select: none;
	overflow: hidden;
}

.videoMainLeftBlock
{
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	text-align: left;
	background: rgb(45, 156, 98);
	-webkit-user-select: none;
}

.videoMainRightBlock
{
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	text-align: left;
	-webkit-user-select: none;
}

.videoContainer
{
	position: relative;
  width: 100%;
}

.videoContainerTitle
{
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
	font-size: 1.5em;
}

.aboutContainer
{
	position: relative;
	display: flex;
	flex-direction: column;
	text-align: center;
	background: rgb(0, 112, 76);
	-webkit-user-select: none;
}

.aboutContainerTitle
{
	position: relative;
	text-align: center;
	font-size: 1.5em;
	padding: 10px 0px;
	background: rgb(46, 133, 88);
	-webkit-user-select: none;
}

.aboutContainerText
{
	position: relative;
	text-align: left;
	padding: 10px;
}

.ThePageTitle
{
	min-width: 580px;;
}

.Content
{
	min-width: calc(580px - 8%);
}

iframe
{
	width: 70%;
	height: 39.375vw;
}
