/*------VIDEO PAGE------*/


.videoBlock
{
	position: relative;
	background: rgb(0, 112, 76);
	text-align: center;
	border-radius: 14px 14px 14px 14px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
	-webkit-user-select: none;
}

.videoName
{
	position: relative;
	text-align: left;
	background: rgb(45, 156, 98);
	padding-left: 14px;
	border-radius: 14px 14px 0px 0px;
	-webkit-user-select: none;
}

.videoContainer
{
	position: relative;
	width: 100%;
}

.aboutVideo
{
	position: relative;
	margin-top: 30px;
	text-align: center;
	background: rgb(0, 112, 76);
	border-radius: 14px 14px 14px 14px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
	-webkit-user-select: none;
}

.aboutVideoTitle
{
	position: relative;
	text-align: center;
	background: rgb(45, 156, 98);
	border-radius: 14px 14px 0px 0px;
	-webkit-user-select: none;
}

.ThePageTitle
{
	min-width: 680px;;
}

iframe
{
	width: 70%;
	height: 39.375vw;
}
