/*------MAIN PAGE------*/


/*     CTRL + F5 if something not refreshing      */

.EventPageTop
{
	background: rgb(45, 156, 98);
	text-align: center;
	border-radius: 14px 14px 0px 0px;
	padding: 10px;
	-webkit-user-select: none;
}

.EventPageInner
{
	background: rgb(0, 112, 76);
	text-align: center;
	border-radius: 0px 0px 0px 0px;
	padding: 14px;
	-webkit-user-select: none;
	overflow-y: auto;

}

.Event
{
	background: black;
	display: flex;
	flex-direction: row;
	text-align: center;
	border-radius: 14px;
	-webkit-user-select: none;
	overflow: hidden;
	margin: 1% 0%;
}

.EventTimeLogo
{

	display: contents;
}

img
{
	position: relative;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  margin: 10px;
}

.EventName
{
	position: relative;
	background: rgb(25, 96, 60);
	display: flex;
	width: 100%;
	-webkit-user-select: none;
	padding: 10px;
	font-size: calc(2vh + 2vw);
	align-items: center;
	text-align: left;
}

.EventTimeAll
{
	position: relative;
	background: rgb(35, 126, 80);
	display: flex;
	top: 0px;
	-webkit-user-select: none;
	align-items: center;
}

.EventTime
{
	position: relative;
	background: rgb(35, 126, 80);
	display: flex;
	-webkit-user-select: none;
	align-items: center;
	font-size: calc(2vh + 2vw);
	padding-right: 1%;
	color: black;
}

.EventInfo
{
	position: relative;
	background: rgb(35, 126, 80);
	text-align: center;
	border-radius: 14px;
	padding: 10px;
	border-width: 2px;
	border-color: #222222;
	border-style: solid;
	-webkit-user-select: none;
	overflow: auto;
}

.EventPageBottom
{
	position: relative;
	background: rgb(45, 156, 98);
	text-align: center;
	border-radius: 0px 0px 14px 14px;
	padding: 10px;
	-webkit-user-select: none;
}
