@media screen and (max-width: 1080px) {  /* if < 1080px */
    body { font-size: 50pt;}
	.Content {top: 100px; padding: 30px; padding-top: 160px;}
	.videoName {font-size: 50px;}
	.aboutVideo {font-size: 22px;}
	.aboutVideoTitle {font-size: 40px;}
	iframe {width: 610px; height: 343px;}


}

@media screen and (min-width: 1081px) {  /* if > 1080px */
    body { font-size: 30pt;}
	.Content {top: 100px; padding: 30px; padding-top: 130px;}
	.videoName {font-size: 54px;}
	.aboutVideo {font-size: 20px;}
	.aboutVideoTitle {font-size: 36px;}
	iframe {width: 854px; height: 480px;}

}

@font-face
{
	font-family: CustomFont;
	src: url(fonts/FredokaOne-Regular.ttf);
	font-weight: bold;
}

@font-face
{
	font-family: CustomFont2;
	src: url(fonts/RobotoCondensed-Bold.ttf);
}




body
{
	margin: 0px;
	padding: 0px;
	width: 100%;
	min-width: 320px;
	min-height: 100%;
	overflow-x: hidden;
	display: block;
	background: #ded7d6;
	color: white;
}

.ThePageTitle
{
	position: fixed;
	display: block;
	width: 100%;
	text-align: center;
	z-index: 1;
	background: #45a774;
	font-family: CustomFont;
	-webkit-user-select: none;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}
.Top
{
	position: relative;
	background: #349663;
	top: 0;
	width: 100%;
	text-align: center;
	font-family: CustomFont2;
	z-index: 1;
	-webkit-user-select: none;
	white-space: normal;
	display: flex;
	flex-direction: row;
}

.ButtonTop
{
	font-size: 18px;
  height: max-content;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	flex: auto;
	outline-color: yellow;
	background: #238552;
	white-space: normal;
	font-family: CustomFont2;
	transition: .5s;
	color: white;
}

.ButtonTop:hover
{
	font-size: 24px;
	background: #127441;
	transition: .5s;
	cursor: url("../img/cursor.png"), auto;
}

.Content
{
	background: #ded7d6;
	padding-left: 30px;
	padding-right: 30px;
	z-index: 0;
	font-family: CustomFont2;
	text-align: justify;
}




/*------MAINTENANCE------*/

.nothingBlock
{
	position: relative;
	background: #38ada9;
	text-align: center;
	border-radius: 20px 20px 20px 20px;
	vertical-align: middle;
	padding: 10px;
	border-width: 4px;
	border-color: #288885;
	border-style: solid;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
	-webkit-user-select: none;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background: #288885;
}

::-webkit-scrollbar-thumb {
  background: #38ada9;
}

::-webkit-scrollbar-thumb:hover {
  background: #389491;
}








/*     CTRL + F5 if something not refreshing      */









/*------MAIN PAGE------*/

.MainPageContent
{
	position: absolute;
	left: 2%;
	right: 2%;
	height: 80%;
}

.Topper
{
	position: relative;
	background: #38ada9;
	text-align: center;
	border-radius: 20px 20px 0px 0px;
	padding: 10px;
	-webkit-user-select: none;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
}

.ContentList
{
	position: relative;
	background: #256b69;
	text-align: center;
	border-radius: 0px 0px 0px 0px;
	padding: 20px;
	height: 60vh;
	-webkit-user-select: none;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
	overflow-y: auto;

}

.Table
{
	position: relative;
	background: #38ada9;
	text-align: center;
	border-radius: 20px;
	padding: 10px;
	border-width: 8px;
	border-color: #288885;
	border-style: solid;
	-webkit-user-select: none;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
	overflow: auto;
}

.TableTop
{
	position: relative;
	background: #38ada9;
	text-align: center;
	border-radius: 14px;
	top: 0px;
	padding: 10px;
	border-width: 2px;
	border-color: #222222;
	border-style: solid;
	-webkit-user-select: none;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
	overflow: auto;
}

.TableInnerContent
{
	position: relative;
	background: #38ada9;
	text-align: center;
	border-radius: 14px;
	padding: 10px;
	border-width: 2px;
	border-color: #222222;
	border-style: solid;
	-webkit-user-select: none;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
	overflow: auto;

}

.Bottomer
{
	position: relative;
	background: #38ada9;
	text-align: center;
	border-radius: 0px 0px 20px 20px;
	padding: 10px;
	-webkit-user-select: none;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
}




/*------ABOUT PAGE------*/


.TopBlock
{
	position: relative;
	background: #38ada9;
	text-align: center;
	border-radius: 20px 20px 0px 0px;
	padding: 10px;
	border-width: 4px;
	border-color: #288885;
	border-style: solid;
	-webkit-user-select: none;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
}

.NextBlock
{
	position: relative;
	background: #38ada9;
	text-align: center;
	font-size: 24px;
	padding: 10px;
	border-radius: 0px 0px 20px 20px;
	border-width: 4px;
	border-top-width: 0px;
	border-color: #288885;
	border-style: solid;
	-webkit-user-select: none;
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
}




/*------VIDEO PAGE------*/


.videoBlock
{
	position: relative;
	background: #38ada9;
	text-align: center;
	border-radius: 20px 20px 20px 20px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
	-webkit-user-select: none;
}

.videoName
{
	position: relative;
	text-align: left;
	background: #079992;
	padding-left: 20px;
	border-radius: 20px 20px 20px 20px;
	-webkit-user-select: none;
}

.videoContainer
{
	position: relative;
	width: 100%;
	/*padding-top: 75%;*/
}

.aboutVideo
{
	position: relative;
	text-align: center;
	background: #38ada9;
	border-radius: 20px 20px 20px 20px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
	-webkit-user-select: none;
}

.aboutVideoTitle
{
	position: relative;
	text-align: center;
	background: #079992;
	border-radius: 20px 20px 20px 20px;
	-webkit-user-select: none;
}

.siteBottom
{
	position: relative;
	background: #079992;
	padding: 10px;
	border-radius: 20px;
	-webkit-user-select: none;
}
