@media screen and (max-width: 1080px) {   /* if < 1080px */
	.videoName {font-size: 50px;}
	.aboutVideo {font-size: 22px;}
	.aboutVideoTitle {font-size: 40px;}
	.ThePageTitle {font-size: calc(1vw + 1vh);}
}

@media screen and (min-width: 1081px) {  /* if > 1080px  */
	.videoName {font-size: 54px;}
	.aboutVideo {font-size: 14px;}
	.aboutVideoTitle {font-size: 36px;}
	.ThePageTitle {font-size: calc(1vw + 1vh);}
}

@font-face
{
	font-family: CustomFont;
	src: url(fonts/FredokaOne-Regular.ttf);
	font-weight: bold;
}

@font-face
{
	font-family: CustomFont2;
	src: url(fonts/RobotoCondensed-Bold.ttf);
}


/*------MAINTENANCE------*/

.nothingBlock
{
	position: relative;
	background: rgb(45, 156, 98);
	text-align: center;
	border-radius: 14px 14px 0px 0px;
	vertical-align: middle;
	padding: 10px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
	-webkit-user-select: none;
}

.nothingBlockDesc
{
position: relative;
background: rgb(0, 112, 76);
text-align: center;
font-size: 24px;
padding: 10px;
border-radius: 0px 0px 14px 14px;
-webkit-user-select: none;
box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
}


body
{
	margin: 0px;
	padding: 0px;
	width: 100%;
	min-width: 314px;
	min-height: calc(100vh);
	overflow-x: hidden;
	display: block;
	background: rgb(44, 71, 57);
	color: white;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

.ThePageTitle
{
	position: fixed;
	display: block;
	width: 100%;
	text-align: center;
	font-size: calc(1.6vw + 1.6vh);
	z-index: 1;
	background: rgb(69, 167, 116);
	font-family: CustomFont;
	-webkit-user-select: none;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  top: 0;
}

h2
{
	margin: 0;
	font-size: 1em;
}

.menu
{
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100vw - 20%);
  height: 40%;
  bottom: -40vh;
  background: rgba(0, 0, 0, 0.6);
  margin: 0% 10%;
  z-index: 4;
  transition-duration: .2s;
  font-family: CustomFont2;
}

.menuArrow
{
  position: absolute;
  top: calc(0px - 14%);
  width: 100%;
  height: 14%;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 14px 14px 0px 0px;
}

#arrow
{
	position: relative;
  height: calc(100% - 40px);
  width: calc(100% - 40px);
  margin: 20px;
  transition-delay: .2s;
  transition-duration: .3s;
}

.menuButton
{
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(35, 133, 82);
}

.menuButton:hover
{
  background: rgb(15, 93, 62);
  cursor: pointer;
}

.Top
{
	position: relative;
	background: rgb(52, 150, 99);
	top: 0;
	width: 100%;
	text-align: center;
	font-family: CustomFont2;
	z-index: 1;
	-webkit-user-select: none;
	white-space: normal;
	display: flex;
	flex-direction: row;
}

.Content
{
	position: fixed;
	background: rgb(44, 71, 57);
	z-index: 0;
	font-family: CustomFont2;
	text-align: justify;
  padding: 4% 4% 4% 4%;
  overflow-y: auto;
  right: 0px;
  left: 0px;
  bottom: 0px;
  top: 0px;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background: rgb(105, 120, 136);
}

::-webkit-scrollbar-thumb {
  background: rgb(238, 238, 238);
  border-radius: 14px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(116, 140, 164);
}
