<IfModule mod_expires.c>

ExpiresActive On

ExpiresByType application/javascript  "access plus 10 days"

ExpiresByType text/javascript  "access plus 10 days"

ExpiresByType text/css "access  plus 10 days"

ExpiresByType image/gif  "access plus 10 days"

ExpiresByType image/jpeg  "access plus 10 days"

ExpiresByType image/png  "access plus 10 days"

ExpiresByType image/svg+xml  "access plus 10 days"

</IfModule>

<ifModule mod_headers.c>
<filesMatch ".(flv|gif|jpg|jpeg|png|ico|swf|js|css|pdf)$">
  Header set Cache-Control "max-age=86400, public, must-revalidate"
</filesMatch>
</ifModule>
